body; html {
    width: 100;
    overflow-x: hidden;
}
body {
    color: black;
    font-size: x-large;
    font-family: futura;
    margin: 0;
}
li {
    text-align: right;
    font-size: 3.75rem;
    list-style: none;
    margin: 8rem;
}
a {
    position: relative;
    width: 1vw;
    height: 1vh;
    text-decoration: none;
    color: black;
    }
.diapo{
    overflow: scroll;
    width: 100vw;
    height: 100vw;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, #ffb7b2 100%);
    display: inline-block;
}
.diapo:nth-child(3n){
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, #ffdac1 100%);
}
.diapo:nth-child(2n){
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, #e2f0cb 100%);
}
.diapo:nth-child(4n){
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, #b5ead7 100%);
}
.diapo:nth-child(5n){
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, #c7ceea 100%);
}
.contenedor {
    position: relative;
    width: 1300vw;
    height: 100vh;
    left: 0;
}
.ventanita {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;   
}
.boton1 {
    position: absolute;
    top: 90vh;
    left: 10vw;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    z-index: 2;
}

.boton1:checked ~ .contenedor {
    left: -100.5vw;
    transition: 1s;
}

.boton2 {
    position: absolute;
    top: 90vh;
    left: 15vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton2:checked ~ .contenedor {
    left: -201vw;
    transition: 1s;
}

.boton3 {
    position: absolute;
    top: 90vh;
    left: 20vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton3:checked ~ .contenedor {
    left: -301.5vw;
    transition: 1s;
}

.boton4 {
    position: absolute;
    top: 90vh;
    left: 25vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton4:checked ~ .contenedor {
    left: -402vw;
    transition: 1s;
}

.boton5 {
    position: absolute;
    top: 90vh;
    left: 30vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton5:checked ~ .contenedor {
    left: -502.5vw;
    transition: 1s;
}

.boton6 {
    position: absolute;
    top: 90vh;
    left: 35vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton6:checked ~ .contenedor {
    left: -603vw;
    transition: 1s;
}

.boton7 {
    position: absolute;
    top: 90vh;
    left: 40vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton7:checked ~ .contenedor {
    left: -703.5vw;
    transition: 1s;
}

.boton8 {
    position: absolute;
    top: 90vh;
    left: 45vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton8:checked ~ .contenedor {
    left: -804vw;
    transition: 1s;
}

.boton9 {
    position: absolute;
    top: 90vh;
    left: 50vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton9:checked ~ .contenedor {
    left: -904.5vw;
    transition: 1s;
}

.boton10 {
    position: absolute;
    top: 90vh;
    left: 55vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton10:checked ~ .contenedor {
    left: -1005vw;
    transition: 1s;
}

.boton11 {
    position: absolute;
    top: 90vh;
    left: 60vw;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 2;
}

.boton11:checked ~ .contenedor {
    left: -1105.5vw;
    transition: 1s;
}

.menu {
    margin: 50px;
}
h1 {
    background-color: black;
    text-size-adjust: 3rem;
    float: right;
    margin-right: 1.25rem;
    text-align: center;
    color: white;
    width: 40vw;
    height: auto;
}
.aboutme h1 {
    position: relative;
    top: -5rem;
    background-color: transparent;
    text-size-adjust: 3rem;
    text-align: right;
    color: white;
    width: 90vw;
    height: auto;
}

.foto {
    position: relative;
    margin-left: 4.375rem;
    margin-top: -6.875rem;
    float: right;
    width: 16.25rem;
    height: 16.25rem;
    transform-style: preserve-3d;
    transition: 1s ease ;
}
.adelante{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(sello.png);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(foto.png);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.foto:hover{
    transform: rotateY(180deg);
}

.nombre h5 {
    background-color: white;
    padding: 0.75rem;
    position: fixed;
    rotate: 90deg;
    transform: rotate(180deg);
    top: 6.25rem;
    left: -6.25rem;
}
.texto h4 {
    width: 18.75rem;
    height: auto;
    text-align: center;
    background-color: white;
    margin-top: 3.125rem;
    margin-left: 9.375rem;
    margin-right: 2.5rem;
    }
h6 {
    position: relative;
    top: -5rem;
    left: 2.5rem;
    right: 45.75rem;
}