body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
}
    .logotipo {
        height: 50px;
    }
    a {
        color: #ccc;
    }
    a:hover {
        color: #fff;
    }
        .logotipo ul {
            display: inline-block;
        }    
        .logotipo ul li {
            display: inline-block;
        }
            .logo {
                float: left;
            }
            .logo img {
                margin: 5px 20px;
            }
            .tipo {
                float: left;
            }
            .redes {
                float: right;
            }

        h2 {
            margin-left: 15px;
        }
_______________________
    #dinteresantes {
        overflow: hidden;
        margin: 10px;
        background-color: yellowgreen;
    }
        #dinteresantes img{
            width: 175px;
            border-radius: 5px;
            margin: 10px;
            float: left;
        }
            #di01, #di02, #di03, #di04, #di05, #di06, #di07, #di08, #di09, #di10, #di11{
                background-color: powderblue;
                height: 325px;
                width: 200px;
                float: left;
            }
            .detalles {
                margin: 8px;
                clear: left;
            }
                h5 {
                    background-color: bisque;
                }
                h6{
                    width: 50%;
                    float: left;
                    margin-top: -15px;
                }
    _______________________

    #dvistos {
        overflow: hidden;
        margin: 10px;
    }
        #dvistos img{
            width: 175px;
            border-radius: 5px;
            margin: 10px;
            filter: grayscale(100%);
        }
        #dv01, #dv02, #dv03, #dv04{
                background-color: powderblue;
                height: 325px;
                width: 200px;
                float: left;
            }
    #ppendientes {
        margin: 20px;
        background-color: pink;
    }
    #pvistas {
        margin: 20px;
        background-color: pink;
    }
    #sseguidas {
        margin: 20px;
        background-color: pink;
    }
    #svistas {
        margin: 20px;
        background-color: pink;
    }